body{
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4)
}

.conteiner{
    align-items: center;
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px 0px #000000; 
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.conversor-box{
    padding: 5px;
}

.button-convert{
    padding: 10px;
    margin-right: 10px;
}

.text-title-conteiner{
    font: bolder;
    font-size: 22px;
}

.conversor-box-conteiner{
    display: block;
}

.quantity-Label, .quantity-Input{
    padding: 5px;
}